body{
    text-align: center;
}

.nav-bar-fixed-wrapper{
    position: fixed;
    width: 100%;
    height: 68px;
    background-color: #262626;
    z-index: 10000;
    opacity: 0;
}

.top-section{
    height: 100vh;
    width: 100%;
    background-image: url('/front-end/img/Manhatten-cover-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.nav-bar{
    width: 90%;
    height: 68px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -68px;
    opacity: 0;
}

.nav-left{
    width: 20%;
    float: left;
    margin: 0;
    height: 100%;
}

.nav-title{
    width: 160px;
    font-size: 24px;
    height: 100%;
    color: white;
    margin: 0;
    padding-left: 25px;
    float: left;
}

.nav-right{
    width: 80%;
    float: right;
    margin: 0;
    height: 100%;
}

.nav-link{
    width: auto;
    height: 100%;
    color: white;
    margin: 0;
    float: right;
    padding-right: 50px;
}

.nav-link-text{
    font-size: 16px;
    width: auto;
    float: left;
    margin: 0;
    cursor: pointer;
    color: white;
}

.btn-sign-in{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    color: white;
    float: right;
    border-style: solid;
    border-width: 1px;
    padding-top: 3px;
    font-size: 16px;
    margin-right: 3%;
    margin-top: 17px;
    cursor: pointer;
}

.btn-sign-up{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    color: #555;
    float: right;
    border-width: 5px;
    padding-top: 3px;
    font-size: 16px;
    background-color: white;
    margin-right: 25px;
    margin-top: 17px;
    cursor: pointer;
}

.mobile-dropdown{
    display: inline-block;
}

.mobile-nav-img{
    width: 35px;
    height: 35px;
    float: right;
    margin-right: 25px;
    margin-top: 15px;
    display: none;
    cursor: pointer;
}

.dropdown-content{
    
}

.inner-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.top-header{
    font-size: 36px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 35%;
    opacity: 0;
}

.top-paragraph{
    font-size: 22px;
    color: white;
    text-align: center;
    width: 80%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.btn-get-started{
    border-radius: 5px;
    height: 50px;
    width: 240px;
    background-color: #41B946;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    cursor: pointer;
    opacity: 0;
}

.section-header{
    font-size: 38px;
    color: #3B3B3B;
    width: 100%;
    text-align: center;
    height: auto;
}

.section-line{
    width: 100px;
    height: 2px;
    background-color: #41B946;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.features-section{
    width: 100%;
    height: 1040px;
    padding-top: 60px;
}

.features-row{
    margin-bottom: 80px;
    margin-top: 0;
    width: 100%;
}

.features-graphic-container{
    width: 170px;
    height: 170px;
    float: left;
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.features-graphic{
    width: 100%;
    height: 100%;
}

.features-text-container{
    height: 100%;
    margin-left: 180px;
}

.features-header{
    font-size: 30px;
    color: #3B3B3B;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 45px;
    padding-top: 30px;
}

.features-paragraph{
    font-size: 20px;
    color: #3B3B3B;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 45px;
    padding-top: 5px;
}

.team-section{
    width: 100%;
    height: 800px;
    background-color: #F5F5F5;
    padding-top: 60px;
}

.team-column{
    width: 50%;
    height: auto;
    float: left;
}

.team-img{
    width: 170px;
    height: 170px;
    float: left;
}

.team-name{
    width: auto;
    height: auto;
    text-align: left;
    font-size: 28px;
    color: #41B946;
    margin-top: 60px;
    margin-left: 220px;
}

.team-role{
    width: auto;
    height: auto;
    text-align: left;
    font-size: 22px;
    color: #848484;
    margin-top: 10px;
    margin-left: 220px;
}

.team-description{
    width: 92%;
    height: auto;
    text-align: left;
    font-size: 18px;
    color: #848484;
    margin-top: 35px;
    float: left;
}

.footer-1{
    width: 100%;
    height: 140px;
    background-color: #262626;
    z-index: -100;
}

.footer-container{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top-container{
    width: 90%;
    text-align: center;
    height: auto;
    position: absolute;
}

.back-to-top{
    background-color: #41B946;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -37px;
    cursor: pointer;
}

.back-to-top-img{
    width: 35px;
    height: 35px;
    margin-top: 21px;
}

.footer-1-cell{
    height: 100%;
    margin-right: 20px;
    float: left;
}

.footer-1-header{
    width: 100%;
    height: 15%;
    text-align: left;
    font-size: 20px;
    color: white;
    margin-top: 65px;
}

.footer-1-content{
    width: 100%;
    height: 15%;
    text-align: left;
    font-size: 16px;
    color: white;
    margin-top: 0;
}

.footer-2{
    width: 100%;
    height: 60px;
    background-color: #1E1E1E;
}

.footer-2-title{
    width: 103px;
    height: 38px;
    margin-left: 25px;
    font-size: 20px;
    color: white;
    float: left;
}

.footer-2-line{
    height: 65%;
    width: 1px;
    margin-left: 20px;
    background-color: white;
    float: left;
    margin-top: 10px;
}

.footer-2-action{
    height: 38px;
    color: white;
    font-size: 14px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

#footer-sign-in{
    width: 42px;
}

#footer-sign-up{    
    width: 47px;
}

.footer-2-disclaimer{
    width: 66px;
    height: 38px;
    font-size: 14px;
    float: right;
    margin-right: 25px;
    color: white;
}

/* Mobile devices smaller than 800px wide */
@media only screen and (max-width: 799px){
    .nav-bar{
        width: 100%;
    }
    .nav-bar-fixed-wrapper{
        width: 100%;
    }
    .top-section{
        height: 550px;
        min-height: 0px;
    }
    .nav-link{
        display: none;
    }
    .btn-sign-in{
        display: none;
    }
    .btn-sign-up{
        display: none;
    }
    .mobile-nav-img{
        display: block;
    }
    .inner-container{
        width: 85%;
    }
    .top-header{
        font-size: 28px;
    }
    .top-paragraph{
        font-size: 18px;
        margin-top: 40px;
    }
    .btn-get-started{
        margin-top: 130px;
        width: 180px;
        font-size: 16px;
        padding-top: 13px;
    }
    .section-header{
        font-size: 30px;
    }
    .section-line{
        width: 50px;
    }
    .features-section{
        height: auto;
    }
    .features-graphic-container{
        display: none;
    }
    .features-text-container{
        margin-left: 0px;
        width: 100%;
    }
    .features-header{
        text-align: center;
        padding: 0;
        font-size: 25px;
    }
    .features-paragraph{
        text-align: center;
        padding: 0;
        font-size: 16px;
    }
    .team-section{
        height: auto;
    }
    .team-column{
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }
    .team-img{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .team-name{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
        font-size: 28px;
    }
    .team-role{
        margin-left: 0;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
    .team-description{
        width: 100%;
        font-size: 18px;
    }
    .footer-1{
        height: 300px;
    }
    .back-to-top-container{
        width: 100%;
        position: relative;
        height: 50px;
    }
    .footer-container{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-1-cell{
        float: none;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 20px;
        height: 50px;
    }
    .footer-1-header{
        font-size: 19px;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .footer-1-content{
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }
    .footer-2-title{
        display: none;
    }
    .footer-2-line{
        display: none;
    }
    .footer-2-action{
        font-size: 13px;
    }
    #footer-sign-in{
        width: 40px;
        margin-left: 0;
    }
    #footer-sign-up{
        width: 45px;
    }
    .footer-2-disclaimer{
        font-size: 13px;
        width: 63px;
        margin-right: 0;
    }
}

/* Mobile devices and screens between 1000px and 800px wide */
@media only screen and (max-width: 999px) and (min-width: 800px){
    .nav-bar{
        width: 100%;
    }
    .nav-bar-fixed-wrapper{
        width: 100%;
    }
    .top-section{
        min-height: 0px;
    }
    .nav-link{
        display: none;
    }
    .btn-sign-in{
        display: none;
    }
    .btn-sign-up{
        display: none;
    }
    .mobile-nav-img{
        display: block;
    }
    .inner-container{
        width: 85%;
    }
    .top-header{
        font-size: 30px;
    }
    .top-paragraph{
        font-size: 18px;
        margin-top: 3%;
    }
    .btn-get-started{
        width: 150px;
        font-size: 14px;
        padding-top: 15px;
    }
    .section-header{
        font-size: 34px;
    }
    .section-line{
        width: 70px;
    }
    .features-section{
        height: 900px;
    }
    .features-graphic-container{
        width: 150px;
        height: 150px;
        padding: 30px;
    }
    .features-text-container{
        margin-left: 150px;
    }
    .features-header{
        font-size: 26px;
    }
    .features-paragraph{
        font-size: 17px;
    }
    .team-section{
        height: 680px;
    }
    .team-img{
        width: 130px;
        height: 130px;
    }
    .team-name{
        margin-top: 40px;
        margin-left: 150px;
    }
    .team-role{
        margin-left: 150px;
        font-size: 18px;
    }
    .team-description{
        font-size: 16px;
    }
    .back-to-top-container{
        width: 100%;
    }
    .back-to-top{
        width: 65px;
        height: 65px;
        top: -33px;
    }
    .back-to-top-img{
        width: 25px;
        height: 25px;
        margin-top: 21px;
    }
    .footer-container{
        width: 100%;
    }
    .footer-1-header{
        font-size: 19px;
    }
    .footer-1-content{
        font-size: 14px;
    }
    .footer-2-title{
        font-size: 19px;
        width: 98px;
    }
    .footer-2-action{
        font-size: 13px;
    }
    #footer-sign-in{
        width: 40px;
    }
    #footer-sign-up{
        width: 45px;
    }
    .footer-2-disclaimer{
        font-size: 13px;
        width: 63px;
    }
}

/* Displays between 1000px and 1300px wide */
@media only screen and (min-width: 1000px) and (max-width: 1300px){
    .nav-link{
        padding-right: 30px;
    }
    .btn-sign-in{
        width: 120px;
    }
    .btn-sign-up{
        width: 120px;
    }
    .inner-container{
        width: 80%;
    }
    .top-header{
        font-size: 34px
    }
    .top-paragraph{
        font-size: 18px;
    }
    .btn-get-started{
        width: 180px;
        font-size: 16px;
        padding-top: 14px;
    }
    .section-header{
        font-size: 36px;
    }
    .section-line{
        width: 80px;
    }
    .features-graphic-container{
        width: 160px;
        height: 160px;
    }
    .features-text-container{
        margin-left: 160px;
    }
    .features-header{
        font-size: 28px;
        padding-left: 35px;
        padding-top: 20px;
    }
    .features-paragraph{
        font-size: 18px;
        padding-left: 35px;
    }
    .team-img{
        width: 140px;
        height: 140px;
    }
    .team-name{
        margin-left: 165px;
        margin-top: 42px;
    }
    .team-role{
        margin-left: 165px;
    }
    .back-to-top{
        width: 60px;
        height: 60px;
        top: -31px;
    }
    .back-to-top-img{
        width: 25px;
        height: 25px;
        margin-top: 19px;
    }
    .footer-1-header{
        font-size: 18px;
    }
    .footer-1-content{
        font-size: 14px;
    }
    .footer-2-title{
        font-size: 18px;
        width: 93px;
    }
    .footer-2-action{
        font-size: 12px;
    }
    #footer-sign-in{
        width: 36px;
    }
    #footer-sign-up{
        width: 40px;
    }
    .footer-2-disclaimer{
        font-size: 12px;
        width: 56px;
    }
}

/* Wide displays wider than 1800px wide */
@media only screen and (min-width:1800px){
    .nav-bar{
        width: 1500px;
    }
    .inner-container{
        width: 1250px;
    }
    .top-header{
        font-size: 38px;
    }
    .top-paragraph{
        font-size: 22px;
    }
    .section-header{
        font-size: 37px;
    }
    .section-line{
        width: 110px;
    }
    .features-graphic-container{
        width: 180px;
        height: 180px;
    }
    .features-text-container{
        margin-left: 190px;
    }
    .features-header{
        font-size: 29px;
        padding-left: 50px;
        padding-top: 35px
    }
    .features-paragraph{
        font-size: 19px;
        padding-left: 50px;
    }
    .team-img{
        width: 180px;
        height: 180px;
    }
    .team-name{
        font-size: 29px;
    }
    .team-role{
        font-size: 23px;
    }
    .team-description{
        font-size: 19px;
    }
    .footer-1-header{
        font-size: 21px;
    }
    .footer-container{
        width: 1500px;
    }
    .back-to-top-container{
        width: 1500px;
    }
    .footer-1-content{
        font-size: 17px;
    }
    .footer-2-title{
        font-size: 21px;
        width: 108px;
    }
    .footer-2-action{
        font-size: 15px;
    }
    #footer-sign-in{
        width: 45px;
    }
    #footer-sign-up{
        width: 50px;
    }
    .footer-2-disclaimer{
        font-size: 15px;
        width: 76px;
    }
}