body{
    min-width: 1000px;
    text-align: center;
    overflow-x: hidden;
}

.top-section{
    height: 100vh;
    width: 100vw;
    background-image: url('/front-end/img/new-york-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-bar{
    width: 100%;
    height: 68px;
    margin: 0;
}

.nav-left{
    width: 20%;
    float: left;
    margin: 0;
    height: 100%;
}

.nav-title{
    width: 160px;
    font-size: 24px;
    height: 100%;
    color: white;
    margin: 0;
    padding-left: 25px;
    float: left;
}

.nav-right{
    width: 80%;
    float: right;
    margin: 0;
    height: 100%;
}

.nav-link{
    width: auto;
    height: 100%;
    color: white;
    margin: 0;
    float: right;
    padding-right: 50px;
}

.nav-link-text{
    font-size: 16px;
    width: auto;
    float: left;
    margin: 0;
    cursor: pointer;
    color: white;
}

.nav-link-text:hover, .nav-link-text:focus{
    
}

.btn-sign-in{
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border-color: white;
    color: white;
    float: right;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    font-size: 16px;
    margin-right: 3%;
    margin-top: 15px;
    cursor: pointer;
}

.btn-sign-up{
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border-color: white;
    color: #848484;
    float: right;
    border-width: 5px;
    margin-top: 2vh;
    padding-top: 5px;
    font-size: 16px;
    background-color: white;
    margin-right: 45px;
    margin-top: 15px;
    cursor: pointer;
}

.inner-container{
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.overview-section{
    width: 100%;
    height: 300px;
}

/* Displays under 1200px wide */
@media only screen and (max-width:1000px){
    .nav-link{
        padding-right: 30px;
    }
    .btn-sign-in{
        width: 120px;
        padding-left: 34px;
    }
    .btn-sign-up{
        width: 120px;
        padding-left: 34px;
    }
}

/* Ultra large displays wider than 2200 */
@media only screen and (min-width: 2200px){
    .nav-bar{
        width: 1500px;
    }
    .inner-container{
        width: 1250px;
    }
}