body{
    min-width: 1000px;
    text-align: center;
    overflow-x: hidden;
}

.top-section{
    height: 100vh;
    width: 100vw;
    background-image: url('/front-end/img/new-york-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.nav-bar{
    width: 90%;
    height: 68px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.nav-left{
    width: 20%;
    float: left;
    margin: 0;
    height: 100%;
}

.nav-title{
    width: 160px;
    font-size: 24px;
    height: 100%;
    color: white;
    margin: 0;
    padding-left: 25px;
    float: left;
}

.nav-right{
    width: 80%;
    float: right;
    margin: 0;
    height: 100%;
}

.nav-link{
    width: auto;
    height: 100%;
    color: white;
    margin: 0;
    float: right;
    padding-right: 50px;
}

.nav-link-text{
    font-size: 16px;
    width: auto;
    float: left;
    margin: 0;
    cursor: pointer;
    color: white;
}

.nav-link-text:hover, .nav-link-text:focus{
    text-decoration: underline;
}

.btn-sign-in{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    color: white;
    float: right;
    border-style: solid;
    border-width: 1px;
    padding-top: 3px;
    font-size: 16px;
    margin-right: 3%;
    margin-top: 17px;
    cursor: pointer;
}

.btn-sign-up{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    color: #848484;
    float: right;
    border-width: 5px;
    margin-top: 2vh;
    padding-top: 3px;
    font-size: 16px;
    background-color: white;
    margin-right: 45px;
    margin-top: 17px;
    cursor: pointer;
}

.inner-container{
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.top-header{
    font-size: 36px;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 15%;
}

.top-paragraph{
    font-size: 22px;
    color: white;
    text-align: center;
    width: 80%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.btn-get-started{
    border-radius: 5px;
    height: 50px;
    width: 240px;
    background-color: #41B946;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.overview-section{
    width: 100%;
    height: 300px;
}

/* Displays under 1200px wide */
@media only screen and (max-width:1000px){
    .nav-link{
        padding-right: 30px;
    }
    .btn-sign-in{
        width: 120px;
    }
    .btn-sign-up{
        width: 120px;
    }
    .top-header{
        font-size: 34px
    }
    .top-paragraph{
        font-size: 18px;
    }
    .btn-get-started{
        width: 180px;
        font-size: 16px;
        padding-top: 14px;
    }
}

/* Wide displays wider than 1800px wide */
@media only screen and (min-width:1800px){
    .top-header{
        font-size: 38px;
    }
    .top-paragraph{
        font-size: 22px;
    }
}

/* Ultra wide displays wider than 2200 */
@media only screen and (min-width: 2200px){
    .nav-bar{
        width: 1500px;
    }
    .inner-container{
        width: 1250px;
    }
}