/* .item-title, .item-type, and .item-last-used are classes that get applied to list-item html when it is appended inside #list-container */

body{
    min-width: 1024px;
}

.toggle-active{
    border-style: solid;
    border-color: white;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 25%;
    height: 50%;
}

.toggle-inactive{
    border-style: solid;
    border-color: #FFB74D;
    background-color: #FFB74D;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25%;
    height: 50%;
}

.sidenav-top{
    height: 20%;
}

#sidenav-img{
    min-height: 60px;
}

#sidenav-title{
    font-size: 20px;
    width: 110px;
}

.sidenav-item-wrapper{
    width: 145px;
}

.sidenav-item-img{
    height: 6vh !important;
}

.sidenav-item{
    font-size: 18px;
    color: #4b4b4b;
}

#sidenav-attr-img{
    height: 4vh !important;
}

#sidenav-attr{
    font-size: 17px;
}

.card{
    border-bottom: solid;
    border-radius: 5px;
    border-top-color: #ffa726;
    border-bottom-color: white;
    min-height: 200px;
    height: auto;
    display: block;
    max-width: 1200px;
}

.card-header{
    border-top: solid;
    border-top-color: #ffa726;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
    max-height: 18vh;
    min-height: 80px;
}

#card-title{
    color:white;
    float: left;
    width: 100%;
}

.item-type{
    color: #757575;
}

.item-last-used{
    color: #757575;
}

.toggle-text{
    font-size: 15px;
}

#card-container{
    margin: 0 auto;
    width: 85%;
}

#card-title{
    font-size: 24px;
}

#card-help{
    height: 30%;
/*  margin-left: 5.5vw;*/
}

.item-title{
    font-size: 20px;
}

.item-type{
    font-size: 17px;
}

.item-last-used{
    font-size: 17px;
}

#item-more-wrapper{
    padding: 2.7%;
}

/* Screens smaller than 1376 */
@media only screen and (max-width: 1376px){
    
}

/* Large displays wider than 1824 */
@media only screen and (min-width: 1824px){
    
}

