/* .item-title, .item-type, and .item-last-used are classes that get applied to list-item html when it is appended inside #list-container */

body{
    min-width: 950px;
}

.toggle-active{
    border-style: solid;
    border-color: white;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 30%;
    height: 50%;
}

.toggle-inactive{
    border-style: solid;
    border-color: #FFB74D;
    background-color: #FFB74D;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30%;
    height: 50%;
}

.sidenav{
    
}

.sidenav-top{
    background-color: #ff9800;
    height: 30%;
}

.card{
    border-bottom: solid;
    border-radius: 5px;
    border-top-color: #ffa726;
    border-bottom-color: white;
    margin-top: 2vh;
    min-height: 200px;
    height: auto;
    display: block;
}

.card-header{
    border-top: solid;
    border-top-color: #ffa726;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 15vh;
    max-height: 18vh;
    min-height: 80px;
}

#card-title{
    color:white;
    float: left;
    width: 100%;
}

.item-type{
    color: #757575;
}

.item-last-used{
    color: #757575;
}

@media only screen and (max-width: 950px){
     .toggle-text{
        font-size:12px;
    }
    #card-title{
        font-size: 18px;
    }
    #card-help{
        height: 25%;
/*        margin-left: 5vw;*/
    }
    .item-title{
        font-size: 16px;
    }
    .item-type{
        font-size: 14px;
    }
    .item-last-used{
        font-size: 14px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

@media only screen and (min-width: 951px), (max-width: 1100px){
    .toggle-text{
        font-size:13px;
    }
    #card-title{
        font-size: 20px;
    }
    #card-help{
        height: 30%;
/*        margin-left: 5.5vw;*/
    }
    .item-title{
        font-size: 18px;
    }
    .item-type{
        font-size: 16px;
    }
    .item-last-used{
        font-size: 16px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1250px){
    .toggle-text{
        font-size:14px;
    }
    #card-title{
        font-size: 22px;
    }
    #card-help{
        height: 35%;
/*        margin-left: 6vw;*/
    }
    .item-title{
        font-size: 20px;
    }
    .item-type{
        font-size: 18px;
    }
    .item-last-used{
        font-size: 18px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

@media only screen and (min-width: 1251px) and (max-width: 1400px){
    .toggle-text{
        font-size:14px;
    }
    #card-title{
        font-size: 22px;
    }
    #card-help{
        height: 35%;
/*        margin-left: 6.5vw;*/
    }
    .item-title{
        font-size: 20px;
    }
    .item-type{
        font-size: 18px;
    }
    .item-last-used{
        font-size: 18px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

/* My breakpoint */
@media only screen and (min-width: 1401px) and (max-width: 1550px){
    .toggle-text{
        font-size:16px;
    }
    #card-title{
        font-size: 24px;
    }
    #card-help{
        height: 30%;
/*        margin-left: 6.5vw;*/
    }
    .item-title{
        font-size: 22px;
    }
    .item-type{
        font-size: 20px;
    }
    .item-last-used{
        font-size: 20px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

@media only screen and (min-width: 1551px) and (max-width: 1700px){
    .toggle-text{
        font-size:17px;
    }
    #card-title{
        font-size: 31px;
    }
    #card-help{
        height: 35%;
/*        margin-left: 7vw;*/
    }
    .item-title{
        font-size: 27px;
    }
    .item-type{
        font-size: 25px;
    }
    .item-last-used{
        font-size: 25px;
    }
    #item-more-wrapper{
        padding: 2.7%;
    }
}

@media only screen and (min-width: 1701px) and (max-width: 2000){
    .toggle-text{
        font-size:19px; 
    }
    #card-title{
        font-size:32px;
    }
    #card-help{
        height:35%;
/*        margin-left: 7.5vw;*/
    }
    .item-title{
        font-size: 28px;
    }
    .item-type{
        font-size: 26px;
    }
    .item-last-used{
        font-size: 26px;
    }
    #item-more-wrapper{
        padding: 2.5%;
    }
}

@media only screen and (min-width: 2000px) {
    .toggle-text{
        font-size: .8vw; 
    }
    #card-title{
        font-size: 2vw;
    }
    #card-help{
        height:40%;
/*        margin-left: 7.5vw;*/
    }
    .item-title{
        font-size: 1.4vw;
    }
    .item-type{
        font-size: 1.2vw;
    }
    .item-last-used{
        font-size: 1.2vw;
    }
    #item-more-wrapper{
        padding: 2.3%;
    }
}