body{
    min-width: 800px;
}

.toggle-active{
    border-style: solid;
    border-color: white;
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 30%;
    height: 50%;
    
}

.toggle-inactive{
    border-style: solid;
    border-color: #FFB74D;
    background-color: #FFB74D;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 30%;
    height: 50%;
}

.card{
    border-bottom: solid;
    border-radius: 5px;
    border-top-color: #ffa726;
    border-bottom-color: white;
    margin-top: 2vh;
    min-height: 200px;
    height: auto;
    display: block;
}

.card-header{
    border-top: solid;
    border-top-color: #ffa726;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 18vh;
    max-height: 18vh;
    min-height: 80px;
}

#card-title{
    color:white;
    padding-left: 3%;
    padding-top: 3%;
    float: left;
    width: 100%;
}

.list-item{
    height: auto;
    display: block;
    min-height: 100px;
}

.item-type{
    color: #616161;
}

.item-last-used{
    color: #616161;
}

/* Media queries - scale font size of top toggle buttons*/
@media only screen and (max-width:800px){
     .toggle-text{
        font-size:14px;
    }
    #card-title{
        font-size:24px;
    }
    .item-title{
        font-size: 20px;
    }
    .item-type{
        font-size: 12px;
    }
    .item-last-used{
        font-size: 16px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 950px){
     .toggle-text{
        font-size:15px;
    }
    #card-title{
        font-size:26px;
    }
    .item-title{
        font-size: 20px;
    }
    .item-type{
        font-size: 12px;
    }
    .item-last-used{
        font-size: 16px;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1100px){
     .toggle-text{
        font-size:16px;
    }
    #card-title{
        font-size:28px;
    }
    .item-title{
        font-size: 23px;
    }
    .item-type{
        font-size: 12px;
    }
    .item-last-used{
        font-size: 16px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1250px){
     .toggle-text{
        font-size:17px;
    }
    #card-title{
        font-size:30px;
    }
    .item-title{
        font-size: 25px;
    }
    .item-type{
        font-size: 14px;
    }
}

/* My breakpoint */
@media only screen and (min-width: 1251px) and (max-width: 1400px){
     .toggle-text{
        font-size:18px;
    }
    #card-title{
        font-size:32px;
    }
    .item-title{
        font-size: 26px;
    }
    .item-type{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1550px){
     .toggle-text{
        font-size:20px;
    }
    #card-title{
        font-size:34px;
    }
    .item-title{
        font-size: 27px;
    }
    .item-type{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1551px) and (max-width: 1700px){
     .toggle-text{
        font-size:21px;
    }
    #card-title{
        font-size:34px;
    }
    .item-title{
        font-size: 28px;
    }
    .item-type{
        font-size: 14px;
    }
}

@media only screen and (min-width: 1701px){
     .toggle-text{
        font-size:23px; 
    }
    #card-title{
        font-size:38px;
    }
    .item-title{
        font-size: 29px;
    }
    .item-type{
        font-size: 15px;
    }
}